#igContainer{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    left: 2.5%;
}

#igSource{
    max-width: 100%;
    max-height: 100%;
    min-height: 1px;
}
