.pictures{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.itemContainer{

}

.slick-slider.slick-initialized{
    position: fixed;
    width: 100%;
    left: 0;
    margin: 0;
}

@media (min-height:550px) {
    .slick-slider.slick-initialized{
        top: 60%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}