.bioContainer{
}

.bioText {
    text-align: left;
}

.bioText{
    margin: 0 0 55px;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.bioHeader{
    margin: 0 0 55px;
}

.bioYear{
    margin: 0 0 3px;
}

.exhibitionInfo{
    margin: 0;
}

.textEnd{
    margin-bottom: 90px;
}

.xEnd{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 37px;
}

.basket {
    transition: opacity 2.5s;
    opacity: 1;
  }

.basket.hide {
    opacity: 0;
}

@media (max-width:768px), (max-height:500px) {
    .bioHeader{
        margin-bottom: 20px;
    }

    .textEnd{
        margin-bottom: 30px;
    }

    .bioText {
        margin-bottom: 30px;
    }

    .exhibitionInfo {
    }
}
