#bioContainer {
    position: relative;
    flex: 1;
    width: 60%;
    left: 20%;
    text-align: center;
    background-color: lightblue;
}

.bioText {
    text-align: left;
}

.bioText {
    margin: 0 0 55px;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.bioHeader {
    margin: 0 0 55px;
    text-align: center;
}

.bioYear {
    margin: 0 0 3px;
}

.exhibitionInfo {
    margin: 0;
}

.textEnd {
    margin-bottom: 90px;
}

.xEnd {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 37px;
}

.basket {
    transition: opacity 2.5s;
    opacity: 1;
}

.basket.hide {
    opacity: 0;
}

@media (max-width:768px) {
    #bioContainer {
        width: 92%;
        left: 4%;
    }

    .bioHeader {
        margin-bottom: 20px;
    }

    .textEnd {
        margin-bottom: 30px;
    }

    .bioText {
        margin-bottom: 30px;
    }
}