#menuContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.menuOptions {
    height: 100%;
    width: 100%;
}

#name {
    margin: 0;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.innerMenu {
    position: relative;
    left: 20%;
    width: 60%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}

.menuOption {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.125rem;
    line-height: 1.542rem;
    text-decoration: none;
    color: black;
    min-height: 20px;
    min-width: 150px;
    /* Fixed width */
    box-sizing: border-box;
    /* Include padding and border in width */
}


.menuOption:hover,
#igLink:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menuBox {
    float: right;
    top: 1.2em;
    visibility: visible;
}

#igLink {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width:768px),
(max-height: 500px) {
    .menuOption {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        text-decoration: none;
        color: black;
        min-height: 20px;
        font-size: 0.583rem;
        min-width: 150px;
        /* Fixed width */
        box-sizing: border-box;
        /* Include padding and border in width */
    }

    @media (orientation: portrait) {

        #name {
            font-size: 0.8rem;
            /* Ensure same size */
            justify-content: center;
        }

        #igLink {
            margin-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .innerMenu {
            left: 0;
            /* Align to the left */
            width: 100%;
            /* Full width */
            display: flex;
            justify-content: flex-start;
            /* Align items vertically */
            flex-direction: column;
            height: auto;
            /* Adjust height */
        }
    }
}