.active{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*the text above pictures should not change font */
.menu-item-wrapper.active{
    font-family: Arial, Helvetica, sans-serif;
}

.MyHeaderContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    width: 100%;
    position: sticky;
}

#headerMenu{
    height: 50px;
    width: 100%;
}

.contactText{
    margin: 0;
    margin-left: 18px;
    
}

.contactTextLines{
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.542rem;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.emailLink{
    width: 420px;
}

.emailLink:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media (max-width:500px), (max-height:500px) {
    #headerMenu{
        height: 15px;
    }

    .emailLink{
        width: 165px;
    }

    .contactText{
        margin-bottom: 20px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .MyHeaderContainer{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
