#archiveContainer{
    position: fixed;
    height: 100%;
    width: 100%;
    left:0;
    margin: 0;
    overflow: hidden;
}


.menu-item-wrapper--inner:hover{
  scroll-snap-type: mandatory;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(21, 100%);
}

.menu-item-wrapper {
  padding-left: 14em;
  padding-right: 14em;
  width: calc(100vh);
  scroll-snap-align: start;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  border: none;
}

#menu-info{
  font-size: 0.8em;
}
   
.worksTitle {
  font-size: 11pt;
}

@media (max-width:960px) {



}