#archiveContainer{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
}

.horizontal-menu{
  height: 60%;
}

.menu-wrapper{
  height: 100%;
}

.menu-item-wrapper--inner:hover{
  scroll-snap-type: mandatory;
  overflow-x: scroll;
  display: grid;
  /*grid-template-columns: repeat(21, 5px);*/
}

/*Child*/
.menu-item-wrapper {
  padding-left: 1%;
  padding-right: 1%;
  /*width: calc(100vh);*/
  scroll-snap-align: start;
  display: inline-block;
  height: 100%;
}

/*Parent*/
.menu-wrapper--inner{
  height: 100%;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  border: none;
  display: inline-block;
  position: relative;
  height: 100%;
}

#menu-info{
  font-size: 0.8em;
}

.worksTitle {
  font-size: 11pt;
}

.pictures{
  max-height: 100%;
  width: auto;
}
