#archiveContainer{
    position: fixed;
    width: 100%;
    left:0;
    bottom: 0;
}

.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }

#menu-info{
  font-size: 0.8em;
}

.menu-item.active {
  border: 1px green solid;
}
   
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}