
.mainContainer{
  position: relative;
  width: 95%;
  background-color: white;
  left: 2.5%;
  overflow: auto;
  top: 50px;
  height: 95%;
  bottom: 50px;
}

#contentBox{
  position: relative;
  width: 50%;
  left: 25%;
  text-align: center;
}

@media (max-width:960px) {
  #contentBox{
    position: relative;
    width: 100%;
    left: 0;
    text-align: center;
  }

  a, pre{
    font-size: 10px !important; 
  }

  #bioText{
    font-size: 10px !important;
    line-height: 20px !important;
  }

} 