
.MyHeaderContainer{
    background-color: white;
    height: 5%; /*fixed eller prosent? */
    width: 100%;
}

#name{
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
    margin: 0;
    font-weight: normal;
}

.headerMenu{
    height: 100%;
    width: 60%;
    float: right;
}

.headerOptions{
    float: right;
    margin-left: 2.5em;
}