
.MyHeaderContainer{
    background-color: white;
    height: 5%; /*fixed eller prosent? */
    width: 100%;
    overflow: auto; /*Adjusts element size depending on child size. */
}

#name{
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
    margin: 0;
    font-weight: normal;
}

.headerMenu{
    height: 100%;
    width: 60%;
    float: right;
}

.headerOptions{
    float: right;
    margin: 0;
    margin-left: 2.5em;
    padding: 0;
    border: none;
    background: none;
    font-size: 1rem;
}