.active{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.MyHeaderContainer{
    background-color: white;
    height: 5%; /*fixed eller prosent? */
    width: 100%;
    overflow: auto; /*Adjusts element size depending on child size. */
}

#headerMenu{
    height: 100%;
    width: 70%;
    float: right;
}

#shortIntro{
    width: 30%;
    float: left;
    height: 100%;
}

#name{
    width: 100%;
    min-height: 50px;
    float: left;
    margin: 0;
    font-weight: normal;
}

#contactText{
    position: relative;
    left: 5%;
}

