
#menuContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

.menuOptions{
    height: 100%;
    width: 100%;
}

.menuOption{
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 19pt;
    text-decoration: none;
    color: black;
    font-weight: 500;
    min-height: 20px;
}

#menuArchive{
    min-width: 172px;
    margin-left: 40px;
}

#menuExhibitions{
    margin-left: 40px;
    min-width: 87px;
}

#menuBio{
    margin-left: 40px;
    min-width: 36px;
}

#menuDownloads{
    margin-left: 40px;
}

.menuOption:hover, #igLink:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#menuBox{
    float: right;
    top: 1.2em;
    visibility: visible;
}

#igLink{
    float: right;
    text-decoration: none;
    color: black;
}

@media (max-width:960px) {
    .menuOption{
        float: right;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        text-decoration: none;
        color: black;
        font-weight: 500;
        min-height: 20px;
    }

    p, .menuOption {
        font-size: 10pt;
    }

    #menuDownloads{
        display: none;
    }

    #menuBio, #menuArchive{
        margin-left: 10px;
        min-width: 0px;
    }

}