
#menuContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

.menuOptions{
    height: 100%;
    width: 100%;
}

#name{
    float: left;
    margin: 0;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}


.innerMenu{
    position: absolute;
    left: 20%;
    width: 60%;
}

.innerContainer{
    margin-left: 30%;

}


.menuOption{
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 13.5pt;
    line-height: 18.5pt;
    text-decoration: none;
    color: black;
    font-weight: 500;
    min-height: 20px;
}

#menuArchive{
    min-width: 123px;
}

#menuBio{
    min-width: 26px;
    margin-left: 40px;
}

#menuDownloads{
    min-width: 81px;
    margin-left: 40px;
}

.menuOption:hover, #igLink:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menuBox{
    float: right;
    top: 1.2em;
    visibility: visible;
}

#igLink{
    float: right;
    text-decoration: none;
    color: black;
    margin-left: 40px;
    min-width: 82px;
}

@media (max-width:900px) {
    .menuOption{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        text-decoration: none;
        color: black;
        font-weight: 500;
        min-height: 20px;
    }
    .innerMenu{
    }

    #menuDownloads{
        display: none;
    }

    #menuArchive{
        min-width: 77px;
    }

    #menuBio{
        min-width: 16px;
    }

    #igLink{
        min-width: 51px;
    }

    #menuBio, #menuArchive{
        margin-left: 18px;
    }

}