body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; 
  cursor: crosshair;
}

cursor{
  cursor: none;}

/*Global on hover change text font */
button:hover,.projects:hover {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
