body, html{
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  height: 100%;
  margin: 0;
  cursor: none ;
  overflow: hidden;
  width: auto;
}

pre {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a{
  cursor: none;
}


/*Global on hover change text font */
button:hover,
.menuOption:hover,
#igLink:hover{
  cursor: none ;
}

#archiveContainer:hover,
.menu-item:hover,
body:hover{
 cursor: none;
}

#root{
  height: 100%;
  width: 100%;
}

.largeText {
  font-size: 1.958rem;
  line-height: 2.542rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.smallText {
  font-size: 1.125rem;
  line-height: 1.542rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width:768px), (max-height:500px) {
  .largeText {
    font-size: 1.125rem;
    line-height: 1.542rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .smallText {
    font-size: 0.708rem;
    line-height: 0.917rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .MyHeaderContainer a, pre{
    font-size: 0.583rem !important;
    line-height: 0.75rem !important;
  }
}
