body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; 
}


/*Global on hover change text font */
p:hover,h1:hover,button:hover,li:hover,h2:hover {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainContainer{
  position: relative;
  width: 95%;
  background-color: white;
  left: 2.5%;
}
